@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.card {
    display: flex;
    height: 370px;
    width: 1070px;
    border-radius: 15px;
    border: 0.5px solid #8E8E8E;
    border-radius: 15px;
    margin: auto;
    margin-top: 59px;
    font-family: 'Open Sans';
}

.newTrip {
    height: 42px;
    width: 154px;
    background-color: #099CE8;
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 600;
    color: #ffff;
    padding: 12px 34px 14px 35px;
    box-sizing: border-box;
    position: absolute;
    margin-top: 46px;
}

.allYearTrip {
    height: 45px;
    width: 180px;
    background-color: #FFD83B;
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 600;
    color: #323232;
    padding: 13px 8px 11px 33px;
    box-sizing: border-box;
    position: absolute;
    margin-top: 59px;
}

.description {
    /* display: block; */
    margin-left: 23px;
}

.title {
    font-family: 'Open Sans';
    font-size: 26px;
    font-weight: 400;
    margin-top: 16px;
    color: #404040;
    height: 70px;
    width: 557px;
}

.listItem {
    display: flex;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #343434;
    margin-bottom: 10px;
}

.clock {
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 400;
    color: #9E9E9E;
}

.clock div {
    width: 108px;
    margin-left: 20px;
    margin-top: -21px;
    font-size: 12px;
    font-weight: 400;
}

.description img {
    margin-right: 14px;
}

.startTimes {
    display: flex;
}

.timesArrayItem {
    height: 28px;
    width: 73px;
    border-radius: 11px;
    background: #C5DCFF;
    padding: 4px 17px 4px 15px;
    /* margin-left: 10px; */
}

.buttonMore {
    height: 35px;
    width: 73px;
    border-radius: 11px;
    border: none;
    background: #C5DCFF;
    padding: 3px 17px;
    margin-left: 10px;
    font-size: 16px;
}

.timesArrayItem:hover {
    background: #6BA6FF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.buttonMore:hover {
    background: #6BA6FF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.bottomBlock {
    display: flex;
    /* box-sizing: border-box; */
}

.price {
    font-family: 'Open Sans';
    font-size: 36px;
    font-weight: 400;
    line-height: 20px;
}

.priceOnCenter {
    font-family: 'Open Sans';
    font-size: 36px;
    font-weight: 400;
    line-height: 20px;
    margin-top: 15px;
}

.priceOnBoard {
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 400;
    margin-top: 5px;
}

.priceOnBoard img {
    margin-bottom: -1px;
}

.priceOnBoard div {
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 400;
    display: inline-block;
    margin-left: -10px;
}

.button {
    background-color: #FFD83C;
    border: none;
    height: 52px;
    width: 187px;
    color: #292929;
    border-radius: 23px;
    font-size: 18px;
    font-weight: 400;
    margin-left: 10px;
}

@media (width: 375px) {
    .card {
        display: grid;
        height: 603px;
        width: 341px;
        border-radius: 16px;
    }

    .card img {
        width: 341px;
        height: 220px;
        border-radius: 16px;
    }

    .cardImg {
        height: 220px;
    }

    .newTrip {
        margin-top: 41px;
        height: 35px;
        width: 99px;
        font-size: 12px;
        font-weight: 600;
        padding: 8px 16px;
    }

    .allYearTrip {
        margin-top: 41px;
        height: 35px;
        width: 120px;
        font-size: 12px;
        font-weight: 600;
        padding: 8px 16px;
    }

    .description {
        margin-left: 13px;
        margin-top: 0px;
        height: 270px;
    }

    .description div {
        margin-top: 0px;
        font-size: 14px;
    }

    .title {
        height: 50px;
        width: 317px;
        font-weight: 600;
        font-size: 14px;
        margin-top: 10px;
    }

    .clock {
        display: flex;
        padding-bottom: 20px;
        margin-left: 0px;
    }

    .clock div {
        width: 50px;
        margin-left: -8px;
        margin-top: -2px;
    }

    .description img {
        width: 16px;
        height: 16px;
    }

    .list {
        font-style: normal;
        font-weight: 400;
        color: #4B4B4B;
        height: 45px;
        width: 275px;
    }

    .startTimes {
        display: grid;
    }

    .startTimesArray {
        display: flex;
        flex-wrap: wrap;
        padding-top: 10px;
        width: 300px;
        height: 60px;
    }

    .timesArrayItem {
        border-radius: 11px;
        padding: 4px 17px 4px 15px;
        margin-left: 7px;
        width: 63px;
        height: 24px;
        background: #D9E8FF;
        box-sizing: border-box;
    }

    .buttonMore {
        padding: 5px 17px;
        margin-left: 10px;
        margin-bottom: 10px;
        font-size: 14px;
        width: 63px;
        height: 24px;
        background: #D9E8FF;
    }

    .price {
        font-size: 30px;
        font-weight: 400;
        padding-left: 19px;
    }

    .priceOnCenter {
        margin-top: 10px;
        margin-left: 19px;
        box-sizing: border-box;
    }

    .priceOnBoard {
        margin-top: 5px;
        padding-left: 19px;
        font-family: 'Open Sans';
        font-size: 10px;
        font-weight: 400;
        width: 100px;
    }

    .priceOnBoard div {
        font-family: 'Open Sans';
        font-size: 10px;
        font-weight: 400;
    }

    .price img {
        height: 23px;
    }

    .priceOnBoard img {
        display: none;
    }

    .bottomBlock {
        box-sizing: border-box;
        height: 50px;
        padding-right: 1px;
    }

    .bottomBlock img {
        height: 23px;
        width: 17px;
    }

    .button {
        width: 165px;
        height: 44px;
        background: #FED74B;
        border: 0.5px solid #CBA500;
        font-weight: 400;
        font-size: 14px;
        color: #404040;
    }
}